#loading,#results{
  display: none;
}

body{
  background:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngegg.com%2Fen%2Fpng-ftzmk&psig=AOvVaw2Wu20JXc_J3yTnmBZ53ZE0&ust=1617866462050000&source=images&cd=vfe&ved=2ahUKEwimrrGvzOvvAhWKxjgGHUSGDSoQjRx6BAgAEAc");
}

.CalculatorMain{
  background:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngegg.com%2Fen%2Fpng-ftzmk&psig=AOvVaw2Wu20JXc_J3yTnmBZ53ZE0&ust=1617866462050000&source=images&cd=vfe&ved=2ahUKEwimrrGvzOvvAhWKxjgGHUSGDSoQjRx6BAgAEAc");

}


