.flex{
    display:flex;
}
.items-center{
    align-items:center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding:0.8rem 3rem;
    font-size:1rem;
    font-weight:600;
    border:2px solid transparent;
    outline:none;
    cursor:pointer;
    text-transform: uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
.btn-primary{
    background:var(--primary);
    color:var(--secondary);
}
.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary);
}
.btn-secondary{
    background:transparent;
    color:var(--primary);
    border-color:var(--primary);
}
.btn-secondary:hover{
    background:var(--primary);
    color:var(--secondary);
}

.flex-1{
    flex:1;
}
.justify-center{
    justify-content: center;
}

.spaning {

    font: 50 1em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}


/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}